<h1 mat-dialog-title>{{ titleAction }}</h1>

<mat-dialog-content>
  <form [formGroup]="formUser">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName="fullname" autocomplete="off" />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" autocomplete="off" />
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="roles" >
            <mat-option *ngFor="let item of ListRoles" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
<!--
      <mat-grid-tile *ngIf="isNewUser">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Clave</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" autocomplete="off">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="isUpdateUser">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="isActive">
            <mat-option value="true">Activo</mat-option>
            <mat-option value="false">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile> -->
      <mat-grid-tile *ngIf="isNewUser">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Clave</mat-label>
          <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" autocomplete="off">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="isUpdateUser">
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="isActive">
            <mat-option value="true">Activo</mat-option>
            <mat-option value="false">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button [disabled]="formUser.invalid" (click)="saveEditUser()">{{buttonAction}}</button>

</mat-dialog-actions>
