

<h1 class="title">Inmuebles</h1>

<mat-card class="card-propiety">
    <mat-card-title>
      <div>
        <button mat-raised-button class="custom-primary-button" (click)="newPropiety()">
        <mat-icon mat-list-icon>add_circle</mat-icon>
            Nueva Propiedad</button>
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="dashboard-card-content">

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="appSearchTable($event)" #input>
        </mat-form-field>

        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataListProperty" class="mat-elevation-z8 table-responsive">
                <ng-container matColumnDef="title" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef>Titulo</th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                  </ng-container>
                <ng-container matColumnDef="address" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Dirección</th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                  </ng-container>
                <ng-container matColumnDef="department" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef>Departamento </th>
                    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
                  </ng-container>
                <ng-container matColumnDef="city" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Ciudad</th>
                    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                  </ng-container>
                <ng-container matColumnDef="description" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Descripción</th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>
                <ng-container matColumnDef="price" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Precio</th>
                    <td mat-cell *matCellDef="let element"> {{element.price | currency:'':'symbol':'1.0-0'}}</td>
                  </ng-container>
                <ng-container matColumnDef="latlongitude" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Lat/Long</th>
                    <td mat-cell *matCellDef="let element"> {{element.latitude}} / {{element.longitude}} </td>
                  </ng-container>
                <ng-container matColumnDef="bathrooms" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Baños</th>
                    <td mat-cell *matCellDef="let element"> {{element.bathrooms}} </td>
                  </ng-container>
                <ng-container matColumnDef="bedrooms" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Hab</th>
                    <td mat-cell *matCellDef="let element"> {{element.bedrooms}} </td>
                  </ng-container>
                <ng-container matColumnDef="closet" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Closet</th>
                    <td mat-cell *matCellDef="let element"> {{element.closet  ?? '0'}} </td>
                  </ng-container>
                <ng-container matColumnDef="createdAt" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> F.Creación</th>
                    <td mat-cell *matCellDef="let element"> {{element.createdAt | date : 'dd/MM/yyyy'}} </td>
                  </ng-container>
                <ng-container matColumnDef="updatedAt" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> F.actualización</th>
                    <td mat-cell *matCellDef="let element"> {{element.updatedAt | date : 'dd/MM/yyyy'}} </td>
                  </ng-container>
                <ng-container matColumnDef="createdBy" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Us.Creador</th>
                    <td mat-cell *matCellDef="let element"> {{element.createdBy  || 'Desconocido'}} </td>
                  </ng-container>
                <ng-container matColumnDef="updatedBy" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef> Us.Modifico</th>
                    <td mat-cell *matCellDef="let element"> {{element.updatedBy  || 'Desconocido'}} </td>
                  </ng-container>
                <ng-container matColumnDef="actions" class="hide-on-mobile">
                    <th mat-header-cell *matHeaderCellDef style="width: 80px;"></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button class="custom-primary-icon small-button" (click)="editPropiety(element)">
                            <mat-icon mat-list-icon>border_color</mat-icon>
                        </button>
                        <button mat-icon-button class="custom-primary-icon small-button" (click)="deleteInmueble(element)">
                            <mat-icon mat-list-icon>delete</mat-icon>
                        </button>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="ColumnsTable"></tr>
                  <tr mat-row *matRowDef="let row; columns: ColumnsTable;" ></tr>

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos que coincidan "{{input.value}}"</td>
                  </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
            </mat-paginator>
        </div>

    </mat-card-content>
</mat-card>
