<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ol class="descriptions">
      <li *ngFor="let privacy of policyList">{{ privacy }}</li>
    </ol>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="close()"> <mat-icon>cancel</mat-icon> Cerrar</button>
  </mat-card-actions>
</mat-card>
