
<h1 class="title">Inmuebles más publicados</h1>
<mat-card class="card-Dasboard">
    <mat-card-content>
      <mat-grid-list cols="5" rowHeight="80px">
        <mat-grid-tile *ngFor="let department of departments">
            <mat-card class="card-info">
                <mat-card-header>
                    <div mat-card-avatar>
                        <mat-icon color="accent">apartment</mat-icon>
                    </div>
                    <mat-card-title>{{ department._id }}</mat-card-title>
                    <mat-card-subtitle>Total: {{ department.total }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
        <mat-card class="Grafico">
            <mat-card-content>
                <div class="div_grafico">
                    <canvas id="chartBarras"></canvas>
                </div>
            </mat-card-content>
        </mat-card>


    </mat-card-content>
</mat-card>
