mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-title{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 5px;
}

mat-card-subtitle{
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.descriptions{
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-list {
  flex: 1;
  text-align: justify;
  margin: 0 10px;
}


