
<mat-card class="card-Seach">
<h3 class="title-seach">Buscar</h3>
  <mat-card-content>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Buscar por título</mat-label>
          <input type="text" matInput placeholder="Ingrese el título ej. casa, apartamento, oficina, finca" [formControl]="searchTitle"  (keyup.enter)="search()">
          <mat-error *ngIf="!inmueblesEncontrados">
            No se encontraron inmuebles con el título proporcionado.
        </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Buscar precio</mat-label>
          <input matInput placeholder="Ingrese el precio" [formControl]="searchPrice" pattern="[0-9]*" (keyup.enter)="search()">
          <mat-error *ngIf="searchPrice.invalid && (searchPrice.dirty || searchPrice.touched)">
            Solo se permiten números positivos.
          </mat-error>
        </mat-form-field>
        <div class="container">
          <mat-form-field class="full-new">
            <input matInput placeholder="Buscar departamento" [formControl]="searchDepartmentControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnDepartments" (optionSelected)="onDepartmentSelected($event)" >
              <mat-option *ngFor="let depart of filteredDepartments | async" [value]="depart">
                {{ depart?.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="full-new">
            <input matInput placeholder="Buscar ciudad" [formControl]="searchCityControl" [matAutocomplete]="autoCities" (keyup)="search()">
            <mat-autocomplete #autoCities="matAutocomplete" [displayWith]="displayFnCities" >
              <mat-option *ngFor="let city of filteredCities | async" [value]="city">
                {{ city.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="button-card">
          <button mat-raised-button class="full-new custom-button" (click)="clear()">Borrar</button>
        </div>
  </mat-card-content>
</mat-card>



  <div class="card-container">
    <div  *ngFor="let estate of propiety">
    <mat-card class="card">
        <div class="card__img">
           <!-- <app-smallmap [longitude]="estate.longitude" [latitude]="estate.latitude" class="map-container"></app-smallmap> -->
        </div>
        <div class="card__descr-wrapper">
          <p class="card__title">
          {{estate.title}}
        </p>
        <div class="card__details">
         <mat-icon>location_city</mat-icon>
          <mat-card-subtitle>{{estate.department}}</mat-card-subtitle>
          <mat-icon>location_on</mat-icon>
          <mat-card-subtitle>{{estate.city}}</mat-card-subtitle>
        </div>

        <p class="card__descr">
          {{estate.description | slice:0:108}}
        </p>
        <div class="card__price" matTooltip="{{estate.price | currency:'USD':'symbol':'1.0-0'}}">
          {{estate.price | currency:'USD':'symbol':'1.0-0'}}
        </div>
        <div class="card__links">
          <div>
            <button mat-icon-button (click)=" propietyDetails(estate._id!)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="svg">
                  <path d="M562.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L405.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C189.5 251.2 196 330 246 380c56.5 56.5 148 56.5 204.5 0L562.8 267.7zM43.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C57 372 57 321 88.5 289.5L200.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C416.5 260.8 410 182 360 132c-56.5-56.5-148-56.5-204.5 0L43.2 244.3z"></path>
              </svg>
          </button>
          </div>
        </div>
        </div>
      </mat-card>
      </div>

  </div>


