<div class="container">
  <mat-card class="card" *ngIf="userD">
    <div class="infos">
        <div class="image"> <img src="assets/Person.png" alt="" style="height: 100px; width: 100px;"></div>
        <div class="info">
            <div>
              <mat-card-title class="name">{{userD.fullname}}</mat-card-title>
              <mat-card-subtitle class="function">{{userD.username | uppercase}}</mat-card-subtitle>
            </div>
            <div class="stats">
              <p class="flex flex-col-2">
                  Detalles

                  <mat-card-content class="state-value">
                      <ul class="details-list">
                          <li>
                              <p class="detail-label">N# Documento:</p>
                              <p class="detail-value">{{userD.document}}</p>
                          </li>
                          <li>
                              <p class="detail-label">Correo:</p>
                              <p class="detail-value">{{userD.email}}</p>
                          </li>
                          <li>
                              <p class="detail-label">Telefono:</p>
                              <p class="detail-value">{{userD.phoneNumber}}</p>
                          </li>
                          <li>
                              <p class="detail-label">Rol:</p>
                              <p class="detail-value">{{userD.roles}}</p>
                          </li>
                          <li>
                              <p class="detail-label">Estatus:</p>
                              <p class="detail-value">{{userD.isActive ? 'Activo' : 'Inactivo'}}</p>
                          </li>
                      </ul>
                  </mat-card-content>
              </p>
          </div>

        </div>
    </div>
    <mat-card-actions class="request">
      <button mat-icon-button (click)="goBack()">
            <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


